// ==========================================================================
// Colors
// ==========================================================================

$text: #75798b;

$blue: #7ab3fd;
$blue-dark: #292e3d;

$orange: #e85f3d;
$orange-light: #ef7955;

$grey: #4f5561;
$grey-light: #8995a9;
$grey-lightest: #dadae1;

$mobile-background: #eff0f4;
