// ==========================================================================
// List
// ==========================================================================


@keyframes posts-list-appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.list {
	display: none;
	margin: 0 em( 8px );
	padding: 0;
	list-style: none;

	@media ( max-width: 449px ) {
		background: #fff;
	}
	@media ( min-width: 450px ) {
		margin: em( 40px ) em( 48px ) em( 112px );
	}
	@media ( min-width: 800px ) {
		margin: em( 72px ) em( 88px ) em( 112px );
	}
}

.list--current {
	display: block;
	animation: posts-list-appear .15s ease-in-out;
}
