// ==========================================================================
// Post Item
// ==========================================================================


.post-item {
	position: relative;
	margin-bottom: em( 42px );
	color: #fff;

	@media ( max-width: 449px ) {
		margin: 0;
		padding: em( 10px ) em( 16px ) em( 17px );
		border-top: 1px solid $mobile-background;

		&:first-child {
			border: 0;
		}
	}
}

.post-item__link {
	display: block;
	color: #4F5561;
	font-size: em( 16px );
	@include text-overflow;

	&:hover,
	&:focus {
		color: $blue;
	}
	@media ( min-width: 450px ) {
		font-size: em( 20px );
	}
	@media ( min-width: 800px ) {
		font-size: em( 24px );
	}
}

.post-item__categories {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: em( 10px );
	line-height: 1;
	@include text-overflow;
}

.post-item__category {
	display: inline-block;
	margin-right: em( 8px, 10px );
	color: #8995A9;
	text-transform: uppercase;
}
